/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scaling {

  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparking {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon__main-body,
.like-icon__core {
  fill: transparent;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon__main-body {
  transition: fill linear 0.3s;
}

.like-icon__core {
  transition: fill linear 0.3s 0.03s;
}

.card__icon-button:hover .like-icon__main-body,
.card__icon-button:hover .like-icon__core {
  fill: var(--heart-contour-color);
}

.card__icon-button:active .like-icon__main-body,
.like-icon.is-liked .like-icon__main-body,
.card__icon-button:active .like-icon__core,
.like-icon.is-liked .like-icon__core {
  fill: var(--heart-main-color);
}

.card__icon-button:hover .like-icon__main-body,
.card__icon-button:active .like-icon__main-body {
  transition: fill linear 0.3s 0.05s;
}

.card__icon-button:hover .like-icon__core,
.card__icon-button:active .like-icon__core,
.like-icon.is-liked .like-icon__core {
  transition: fill linear 0.3s;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--heart-main-color);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked {
  animation: scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparking 0.3s ease-in 0.3s;
}
